.layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    &-left {
        position: relative;
        z-index: 10;
        width: 64px;
        border-right: 1px solid rgba(0, 0, 0, .12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        background: rgba(64, 64, 64, 1);
        padding-bottom: 50px;

        .app-name {
            width: 100%;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            img {
                width: 30px;
            }
        }

        .setting-module {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
        }

        .app-module {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(147, 147, 147, 1);
            border-radius: 0;
            transition: all 0.3s;
            text-decoration: none;
            border-left: 2px solid transparent;
            margin-bottom: 15px;

            &.active {
                color: #fff;
                border-left-color: #fff;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    &-main {
        position: relative;
        background-color: #fafafa;
        flex: 1;
        padding: 15px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
