<div class="layout">
    <div class="layout-left">
        <div class="app-name" (click)="handleLogoClick()">
            <img src="/assets/logo.svg" alt="" />
        </div>

        <div
            *ngFor="let module of modules"
            [ngClass]="{
                'app-module': true,
                active: activeTabPath.startsWith(module.path)
            }"
            (click)="handleModuleClick(module)"
        >
            <i nz-icon [nzType]="module.icon" nzTheme="fill"></i>
        </div>
    </div>
    <div class="layout-main">
        <div class="layout-main-tabs">
            <div
                *ngFor="let tab of tabs"
                [ngClass]="{
                    tab: true,
                    active: tab.active
                }"
                (click)="handleActiveTab(tab)"
            >
                <span>{{ tab.name }}</span>
                <i
                    class="close-icon"
                    nz-icon
                    nzType="close"
                    nzTheme="outline"
                    (click)="handleRemoveTab(tab)"
                ></i>
            </div>
        </div>
        <div class="layout-main-bd">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
