<div class="layout">
    <div class="layout-left">
        <div class="app-name" (click)="handleLogoClick()">👨🏻‍💻</div>

        <div
            *ngFor="let module of modules"
            [ngClass]="{
                'app-module': true,
                active: activeTabPath.startsWith(module.path)
            }"
            (click)="handleModuleClick(module)"
        >
            <i nz-icon [nzType]="module.icon" nzTheme="fill"></i>
        </div>
    </div>
    <div class="layout-main">
        <div class="layout-main-tabs">
            <nz-tabset [nzType]="'card'" [nzSelectedIndex]="selectedTabIndex">
                <nz-tab
                    *ngFor="let tab of tabs"
                    [ngClass]="{
                        tab: true,
                        active: tab.active
                    }"
                    [nzTitle]="titleTemplate"
                    (nzClick)="handleActiveTab(tab)"
                >
                    <ng-template #titleTemplate>
                        <div>
                            {{ tab.name }}
                            <i
                                nz-icon
                                nzType="close"
                                (click)="handleRemoveTab(tab)"
                                class="ant-tabs-close-x"
                            ></i>
                        </div>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </div>
        <div class="layout-main-bd">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="version-watermark" (click)="openGithub()">
        <span>v{{ appVersion }}</span>
    </div>
</div>
