<div class="layout">
    <div class="layout-left">
        <a routerLink="/" class="app-name">
            <img src="/assets/logo.svg" alt="" />
        </a>

        <a
            *ngFor="let module of modules"
            [routerLink]="module.path"
            class="app-module"
            routerLinkActive="active"
            (click)="handleModuleClick(module)"
        >
            <mat-icon>{{ module.icon }}</mat-icon>
        </a>
    </div>
    <div class="layout-main">
        <div class="layout-main-tabs">
            <a
                *ngFor="let tab of tabs"
                mat-button
                [ngClass]="{
                    'tab': true,
                    'active': tab.active
                }"
                [routerLink]="tab.path"
            >
                <span>{{tab.name}}</span>
                <mat-icon>clear</mat-icon>
            </a>
        </div>
        <div class="layout-main-bd">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
