<nz-card nzTitle="Action">
    <button nz-button nzType="primary" (click)="getAppPath()">获取用户文件路径</button>
    <button nz-button nzType="primary" (click)="getUserConfig()">获取用户配置</button>
    <button nz-button nzType="primary" (click)="getAppName()">获取指定键的配置</button>
    <button nz-button nzType="primary" (click)="setUserConfig()">修改 updateAt</button>
    <button nz-button nzType="primary" (click)="toggleTheme()">切换明/暗主题</button>
</nz-card>
<br>

<nz-card nzTitle="Output">
    <code>
        <pre>{{output}}</pre>
    </code>
</nz-card>
