<div class="page-layout">
    <div class="page-layout-left">
        <div class="note-filter">Sort by Created ↓</div>
        <div class="note-list">
            <button
                mat-button
                *ngFor="let note of notes"
                [ngClass]="{
                    'note-item': true,
                    'active': note.active
                }"
            >
                <div class="note-item__title">{{note.title}}</div>
                <div class="note-item__info">{{note.createdAt}}</div>
            </button>
        </div>
        <div class="note-search"></div>
    </div>
    <div class="page-layout-main"></div>
</div>
