<div class="passworder">
    <div *ngIf="showLocked" class="passworder--locked">
        <div class="locked-form">
            <img src="/assets/lock.jpeg" alt="Locked" />
            <div>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="password" nz-input placeholder="Input your password" [(ngModel)]="secret" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch (click)="unlock()">Unlock</button>
                </ng-template>
            </div>
        </div>
    </div>

    <div *ngIf="showSetup" class="passworder--setup">
        <nz-card nzTitle="Setup Passworder">
            <form nz-form>
                <nz-form-item>
                    <nz-form-label [nzSm]="4">Password</nz-form-label>
                    <nz-form-control [nzSm]="10">
                        <input
                            name="initSecret"
                            type="password"
                            nz-input
                            placeholder="Input a password"
                            [(ngModel)]="initSecret"
                        />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="4">Re-entered Password</nz-form-label>
                    <nz-form-control [nzSm]="10">
                        <input
                            name="initSecretAgain"
                            type="password"
                            nz-input
                            placeholder="Input password again"
                            [(ngModel)]="initSecretAgain"
                        />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzSpan]="10" [nzOffset]="4">
                        <button nz-button nzType="primary" (click)="setup()">OK</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </div>

    <div *ngIf="showPwds" class="passworder--list">
        <nz-card nzTitle="Passwords Table">
            <div class="table-action">
                <button nz-button nzType="primary" (click)="addRow()"><i nz-icon nzType="plus" nzTheme="outline"></i>Add</button>
            </div>
            <nz-table #pwdTable [nzData]="passwords">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of pwdTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.pwd }}</td>
                    <td>
                        <a>Delete</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
