.icon-box {
    display: flex;
    flex-flow: row wrap;
}

.icon-item {
    flex: 1 1 100%;
    max-width: 15%;
    padding: 0px 16px 16px 0px;
    width: 150px;
    text-align: center;

    .mat-icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
        line-height: 36px;
    }

    p {
        font-size: 12px;
    }
}
