<div class="nav">
    <div *ngFor="let block of sites" class="nav-item">
        <nz-card
            [nzTitle]="block.title"
            nzSize="small"
            [nzExtra]="extraTemplate"
        >
            <button
                *ngFor="let site of block.links"
                (click)="openSite(site)"
                nz-button
                nzType="link"
            >
                {{ site.title }}
            </button>
        </nz-card>
        <ng-template #extraTemplate>
            <a>一键打开</a>
        </ng-template>
    </div>
</div>
