<div>
    <mat-card>
        <h2>Todo App</h2>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="todoName" placeholder="Input something...">
            </mat-form-field>
            <button mat-button (click)="addTodo()">Add</button>
        </div>

        <div>
            <ul>
                <li *ngFor="let todo of todos">
                    {{todo.title}}
                    <mat-icon (click)="removeTodo">close</mat-icon>
                </li>
            </ul>
        </div>
    </mat-card>
</div>
