<nz-card nzTitle="Todo App">
    <div style="width: 300px">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input
                type="text"
                [(ngModel)]="todoName"
                nz-input
                placeholder="Input something..."
            />
        </nz-input-group>
        <ng-template #suffixButton>
            <button
                nz-button
                nzType="primary"
                nzSize="large"
                nzSearch
                (click)="addTodo()"
            >
                Add
            </button>
        </ng-template>
    </div>

    <div class="todo-list">
        <div
            *ngFor="let todo of todos"
            [ngClass]="{
                'todo-item': true,
                completed: todo.completed
            }"
            (click)="toggleTodoStatus(todo)"
        >
            <span>{{ todo.title }}</span>
            <div class="todo-item__close">
                <i
                    nz-icon
                    nzType="close"
                    nzTheme="outline"
                    (click)="removeTodo(todo.id)"
                ></i>
            </div>
        </div>
    </div>
</nz-card>
