@import "./assets/theme/dark";
@import "./assets/theme/light";
@import "./ng-zorro";

.page-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    &-left {
        position: relative;
        z-index: 10;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        background: #fff;
    }

    &-main {
        flex: 1;
        background-color: #fafafa;
        overflow-y: auto;
        padding: 15px;
    }
}
