.theme-default {
  .side-menu {
    background: #20222a;

    &-item {
      color: rgba(255, 255, 255, 0.7);

      &.active {
        color: #fff;
        background: #009688;
      }
    }
  }

  .tabbar {
    background: #20222a;

    .tabs {
      .tab {
        color: rgb(193, 193, 193);

        &.active {
          color: #000;
          background: #f6f6f6;
        }
      }
    }
  }
}
